<app-ranger-header siteNameBlack="Crypto" siteNameGreen="Ranger"></app-ranger-header>


<div class="kpi-box">
  <div class="kpi-box__left">
    <img src="assets/ethereum_logo.png" alt="Ethereum">
  </div>
  <div class="kpi-box__right">
    <div class="kpi-box__right__line1">
      {{ numberEther }} ETH
    </div>
    <div class="kpi-box__right__line2">
      Transfer
    </div>
  </div>
</div>


<div class="kpi-box">
  <div class="kpi-box__left">
    <img src="assets/ranger_coin.png" alt="Ranger Coin">
  </div>
  <div class="kpi-box__right">
    <div class="kpi-box__right__line1">
      {{ numberRan }} RAN
    </div>
    <div class="kpi-box__right__line2">
      Transfer
    </div>
  </div>
</div>

<div class="sep-line"></div>


<h2 class="block-header">Activities</h2>

<div class="activity-list">
  <div class="activity-list__header">
    <div class="activity-list__header__no1">Description</div>
    <div class="activity-list__header__no2">Reward</div>
  </div>

  <div class="activity-list__entry">
    <div class="activity-list__entry__description">Take a picture of a naked owl</div>
    <div class="activity-list__entry__right">
      <div class="activity-list__entry__right__line1">
        5.43 ETH
      </div>
      <div class="activity-list__entry__right__line2">
        23 RAN
      </div>
    </div>

    <div class="activity-list__entry__buttons">
      <button (click)="onProofClicked()">Proof</button>
    </div>
  </div>

  <div class="sep-line"></div>

  <div class="activity-list__entry">
    <div class="activity-list__entry__description">Install a sensor</div>
    <div class="activity-list__entry__right">
      <div class="activity-list__entry__right__line1">
        5.43 ETH
      </div>
      <div class="activity-list__entry__right__line2">
        23 RAN
      </div>
    </div>

    <div class="activity-list__entry__buttons">
      <button style="background-color: cornflowerblue">Claim</button>
    </div>
  </div>
</div>
