<header class="header">
  <div class="header__site-name">
    <span style="color: #000;">Community</span><span style="color: #278d03;">Vote</span>
  </div>

  <div class="header__logo-right">
    <img src="assets/ranger_logo.png" alt="logo">
  </div>
</header>

<div class="sep-line"></div>

<div class="block1">
  <div class="block1__img">
    <i class="fas fa-vote-yea"></i>
  </div>
  <div class="block1__text">
    <div class="block1__text__t1">Vote for your next community project.</div>

    <div class="block1__text__t2"><span>Your balance:</span> 25 RAN</div>
  </div>
</div>

<div class="sep-line"></div>


<h2 class="block-header">Present Projects</h2>

<div>
  <div>Project</div>
  <div>Vote</div>
</div>


<div class="project-list">
  <div class="project-list__entry">
    <div></div>
  </div>
</div>
