$green: #278d03;


.block1 {
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 5px;
}


.block1__img {
  font-size: 5em;
}


.block1__text {
  margin-top: 25px;
  margin-left: 20px;
}


.block1__text__t2 {
  margin-top: 15px;

  span {
    color: $green;
    font-weight: bold;
  }
}


.project-list {
  display: flex;
  flex-direction: column;
  clear: both;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
}


.project-list__entry {
  display: flex;
  flex-direction: row;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}


.project-list__entry__title {
  flex-grow: 1;
}


.project-list__entry__coins {
  width: 70px;
  min-width: 70px;
  text-align: center;
  background-color: #97ee79;
  margin-right: 10px;
}


.project-list__entry__coin-img {
  width: 30px;
  min-width: 30px;

  img {
    width: 100%;
  }
}


.vote-btn {
  width: 95%;
  height: 40px;
  text-align: center;
  background-color: $green;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  display: block;
  color: white;
  font-weight: bold;
}
