<app-ranger-header siteNameBlack="Community" siteNameGreen="Vote"></app-ranger-header>


<h2 class="block-header">Present Projects</h2>

<div>
  <div style="margin-left: 10px; width: 100px; float: left;">Project</div>
  <div style="right: 20px; position: absolute; width: 100px;">Vote</div>
</div>


<div class="project-list">
  <div class="project-list__entry">
    <div class="project-list__entry__title">Build a new well</div>
    <div class="project-list__entry__coins">15</div>
    <div class="project-list__entry__coin-img"><img src="assets/ranger_coin.png" alt="Ranger Coin"></div>
  </div>
  <div class="project-list__entry">
    <div class="project-list__entry__title">Build a new well</div>
    <div class="project-list__entry__coins">15</div>
    <div class="project-list__entry__coin-img"><img src="assets/ranger_coin.png" alt="Ranger Coin"></div>
  </div>
  <div class="project-list__entry">
    <div class="project-list__entry__title">Build a new well</div>
    <div class="project-list__entry__coins">15</div>
    <div class="project-list__entry__coin-img"><img src="assets/ranger_coin.png" alt="Ranger Coin"></div>
  </div>
  <div class="project-list__entry">
    <div class="project-list__entry__title">Build a new well</div>
    <div class="project-list__entry__coins">15</div>
    <div class="project-list__entry__coin-img"><img src="assets/ranger_coin.png" alt="Ranger Coin"></div>
  </div>
</div>


<button class="vote-btn">Vote</button>

<div style="margin: 10px 10px 0 10px;">
  If the impact goals are met, the project with the most votes gets funded.
</div>