<app-ranger-header siteNameBlack="Community" siteNameGreen="Vote"></app-ranger-header>


<div class="block" style="margin-bottom: 10px">
  Available tokens: <span class="emp-text">25</span>
</div>


<h2 class="block-header">Present Projects</h2>

<div style="display: flex; flex-direction: row;">
  <div style="margin-left: 10px; width: 100px">Project</div>
  <div style="margin-left: 130px; width: 100px;">Vote</div>
</div>


<div class="project-list">
  <div class="project-list__entry" *ngFor="let project of projects">
    <div class="project-list__entry__title">{{ project.title }}</div>
    <input class="project-list__entry__coins" type="number" [(ngModel)]="project.tokens">
    <div class="project-list__entry__coin-img"><img src="assets/ranger_coin.png" alt="Ranger Coin"></div>
  </div>
</div>


<button class="vote-btn" (click)="onVoteClicked()">Vote</button>

<div style="margin: 10px 10px 0 10px;">
  If the impact goals are met, the project with the most votes gets funded.
</div>