@import '../node_modules/bootstrap/scss/bootstrap';

$green: #278d03;
$red: #ff8482;

body {
  margin: 0 auto;
  max-width: 450px;
  font-family: "Open Sans", sans-serif;
}


a {
  text-decoration: none;
  color: inherit;

  &:hover, &:focus, &:active {
    color: inherit;
    text-decoration: underline;
  }
}


.our-green {
  color: $green;
}


.our-red {
  color: $red;
}


.emp-text {
  color: $green;
  font-weight: bold;
}


.emp-text-red {
  color: $red;
  font-weight: bold;
}


.sep-line {
  margin: 10px 0 10px 10px;
  border-bottom: 1px solid gray;
}


.block-header {
  margin-left: 10px;
}


.block {
  margin: 0 10px 0 10px;
}
