<app-ranger-header siteNameBlack="Proof" siteNameGreen="Activity"></app-ranger-header>

<div class="block1">
  <div class="block1__img">
    <i class="fas fa-award"></i>
  </div>
  <div class="block1__text">
    Take a picture of a naked owl
  </div>
</div>

<div class="sep-line"></div>


<h3 class="block-header" style="margin-top: 20px">Acceptance Criteria</h3>

<div class="block">Take a picture of an owl within the app.</div>


<h3 class="block-header" style="margin-top: 20px">Proof</h3>

<div class="block">
  <form>
    <textarea class="comment-textarea" placeholder="Comment..."></textarea>
  </form>



  <div class="button-bar">
    <button class="button-bar__take-picture"><i class="fas fa-camera"></i></button>
    <button class="button-bar__upload-picture"><i class="fas fa-upload"></i></button>
    <button class="button-bar__send">Send</button>
  </div>
</div>
