<app-ranger-header siteNameBlack="Impact" siteNameGreen="Goals"></app-ranger-header>


<div class="block1">
  <div class="block1__img">
    <i class="fab fa-pagelines"></i>
  </div>
  <div class="block1__text">
    Your community is on the right track.
  </div>
</div>

<div style="margin: 0 10px 0 10px;">
  <progressbar [value]="79" [max]="100" [striped]="true" type="success">79%</progressbar>

  <div>Next project to be realized: <span class="emp-text">A new well</span></div>
</div>

<div class="sep-line"></div>


<div>
  <table>
    <tr>
      <td class="tbl-label"><span class="emp-text">Bisons in the defined area:</span></td>
      <td>25/40</td>
    </tr>
    <tr>
      <td class="tbl-label"><span class="emp-text">Wolfs in the defined area:</span></td>
      <td>47/55</td>
    </tr>
    <tr>
      <td class="tbl-label"><span class="emp-text">Healthiness of the forest:</span></td>
      <td>85/100</td>
    </tr>
    <tr>
      <td class="tbl-label"><span class="emp-text">Disturbances by shephards:</span></td>
      <td>2</td>
    </tr>
  </table>
</div>
