.block1 {
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 5px;
}


.block1__img {
  font-size: 3em;
}


.block1__text {
  margin-top: 12px;
  margin-left: 20px;
  font-size: 1.2em;
}


.tbl-label {
  padding: 0 20px 0 20px;
}
